<!DOCTYPE html>
<html lang="en"  xmlns:th="http:/thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Article Management</title>
  <!-- Bootstrap core CSS-->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link th:href="@{/css/sb-admin.css}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
<div th:replace="admin/fragment/header :: header"></div>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active"><a href="/admin/list_category"><button type="button" class="btn btn-primary">[[#{back}]]</button></a></li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-form">Form Add Article</i> </div>
        <div class="card-body">
          <form th:action="@{/admin/update_category/submit}" method="POST" enctype="multipart/form-data" th:object="${category}">
            <div class="form-group">
              <input hidden type="text" class="form-control" th:field="*{id}"  aria-describedby="emailHelp" placeholder="Enter Title">
              <label >[[#{category}]]</label><span style="color: #721c24" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Not Blank</span>
              <input type="text" class="form-control" th:field="*{name}"  aria-describedby="emailHelp" placeholder="Enter Category Name">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">[[#{status}]]</label>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{update}"></button>
          </form>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <div th:replace="admin/fragment/footer ::footer "></div>
  </div>
</body>

</html>
